*.pyc
*.pkl
*~
*.sqlite3
*.sqlite
*.pickle
*.pickle.gz
*.jsonlines
*.jsonline
.python-version
.ipynb_checkpoints
*.gz
*.log
*.egg-info/
.DS_Store
.idea/
.cache/
.eggs/
__pycache__/
build/
dist/
.hypothesis/
.coverage
